#!/usr/bin/env xdg-open

[Desktop Entry]
Name=AetherSX2
Exec[$e]=/opt/retropie/emulators/aethersx2/AetherSX2-v1.5-3606.AppImage
Comment=PS2 Emulator
Terminal=false
Icon=/opt/retropie/emulators/aethersx2/AetherSX2-128.png
Type=Application
Categories=Game;
Name[en_US]=AetherSX2
